#gripviz,
#baseviz {
  color: #fff;
  min-height: 560px;
  justify-content: center;
}


#grip_camera_play, 
#base_camera_play {
  outline: none;
  border: none;
  color: var(--edx_white);
  background-color: rgb(30, 29, 29, 0.7);
  border: none;
  box-shadow: none;
}

