table#node_table {
  display: block;
  max-height: 60vh;
  overflow: auto;
}

table#node_table td.header {
  font-weight: bold;
  background: rgba(var(--color_r), var(--color_g), var(--color_b), 0.6);
  color: var(--color_light_black);
  text-align: center;
}

table#node_table td.header:hover {
  cursor: pointer;
}

table#node_table td.pid {
  width: 5vw;
}

table#node_table td.name {
  width: 16vw;
}

table#node_table td.user {
  width: 7vw;
}

table#node_table td.cpu {
  width: 3vw;
  text-align: center;
}

table#node_table td.mem {
  width: 3vw;
  text-align: center;
}
table#node_table td.state {
  width: 6vw;
  text-align: center;
}
table#node_table td.started {
  width: 11vw;
}

table#node_table td.runtime {
  width: 5vw;
}
