@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@font-face {
  font-family: main_font;
  src: url("../assets/font/united_sans_medium.woff2");
}

@font-face {
  font-family: shell_font;
  src: url("../assets/font/fira_mono.woff2");
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

button:hover {
  border: none;
}

:root {
  --edx_white: rgba(170, 207, 209, 0.5);
  --color_r: 170;
  --color_g: 207;
  --color_b: 209;
}

body {
  font-family: main_font;
  background: linear-gradient(90deg, #191919 1.85vh, transparent 1%) center,
    linear-gradient(#191919 1.85vh, transparent 1%) center, #272928;
  background-size: 2.04vh 2.04vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
}

#header {
  background: #333;
  border-bottom: 0.18vh solid rgb(223, 221, 221);
  border-radius: 0;
  color: #fff;
}

.navbar-brand:hover {
  color: rgb(223, 221, 221);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.card {
  background: linear-gradient(90deg, #191919 1.85vh, transparent 1%) center,
    linear-gradient(#191919 1.85vh, transparent 1%) center, #272928;
  background-size: 2.04vh 2.04vh;
  border: 0.18vh solid var(--edx_white);
  border-top-left-radius: 0.278vh;
  border-top-right-radius: 0.278vh;
}

.card-header {
  color: white;
  border-bottom: 0.18vh solid var(--edx_white);
}

.card-body {
  align-items: center;
  justify-self: center;
}

#visual {
  margin-top: 20px;
  margin-bottom: 30px;
}

.videoWrapper {
  display: block;
  min-width: 640px;
  min-height: 300px;
  margin-top: 20%;
	margin-left: auto;
  text-align: center;
}

#video_brand, #rviz_brand {
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end);
}

.usb_cam {
  height: 500px;
  width: 100%;
  object-fit: contain;
}

.controls {
  position: absolute;
  background: inherit;
  width: 50%;
  padding: 5px;
  box-sizing: content-box;
  bottom: 0;
}

#data_card1, #data_card2, #data_card3 {
  min-height: 320px;
  max-height: 321px;
}


#joyspeed, #status {
  color:white;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#status h6 {
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end);
}

#network_in_status, #network_out_status, #battery {
  border-top: 0.18vh dotted var(--edx_white);
  border-bottom: 0.18vh dotted var(--edx_white);
  height: 100px;
}

.plot_col {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.status_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
}

.status_detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 80px;
}

.status_detail h6 {
  color: var(--edx_white);
}


