@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@font-face {
  font-family: main_font;
  src: url("../assets/font/united_sans_medium.woff2");
}

@font-face {
  font-family: shell_font;
  src: url("../assets/font/fira_mono.woff2");
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


button:hover {
  border: none;
  outline: none;
}
button:focus {
  border: none;
  outline: none;
}

:root {
  --color_r: 170;
  --color_g: 207;
  --color_b: 209;
  --color_black: #000000;
  --color_light_black: #05080d;
  --color_grey: #262828;
}

body {
  font-family: main_font;
  background: linear-gradient(90deg, var(--color_light_black) 1.85vh, transparent 1%) center,
    linear-gradient(var(--color_light_black) 1.85vh, transparent 1%) center, var(--color_grey);
  background-size: 2.04vh 2.04vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
}

#header {
  background: var(--color_light_black);
  border-bottom: 0.18vh solid var(--grey);
  border-radius: 0;
  color: #fff;
}

.navbar-brand:hover {
  color: rgb(223, 221, 221);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.card {
  background: inherit;
  background-size: 2.04vh 2.04vh;
  border: 0.18vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.5);
  border-top-left-radius: 0.278vh;
  border-top-right-radius: 0.278vh;
}

.card-header {
  color: white;
  border-bottom: 0.18vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.5);
}

.card-body {
  align-items: center;
  justify-self: center;
}

.video_card {
  color: #fff;
  min-height: 560px;
  text-align: center;
}

#visual {
  margin-top: 20px;
  margin-bottom: 30px;
}

.videoWrapper {
  display: block;
  min-width: 640px;
  min-height: 450px;
  margin-top: auto;
	margin-left: auto;
  text-align: center;
}

#video_brand, #rviz_brand {
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end);
}

.usb_cam {
  height: 500px;
  width: 100%;
  object-fit: contain;
}

.controls {
  position: absolute;
  background: transparent;
  width: 10%;
  padding: 5px;
  box-sizing: content-box;
  bottom: 0;
}

#map {
  height: 480px;
}

.play {
  outline: none;
  border: none;
  color: rgba(var(--color_r), var(--color_g), var(--color_b), 0.5);
  background-color: transparent;
  box-shadow: none;
}

.play:hover, .play:focus {
  outline: none;
  border: none;
  background-color: transparent;
}

#data_card1, #data_card2, #data_card3 {
  min-height: 320px;
  max-height: 321px;
}


#joyspeed, #status {
  color:white;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#status h6 {
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end);
}

#network_in_status, #network_out_status, #battery {
  border-top: 0.18vh dotted rgba(var(--color_r), var(--color_g), var(--color_b), 0.5);
  border-bottom: 0.18vh dotted rgba(var(--color_r), var(--color_g), var(--color_b), 0.5);
  height: 100px;
}

.plot_col {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.status_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
}

.status_detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 80px;
}

.status_detail h6 {
  color: rgba(var(--color_r), var(--color_g), var(--color_b), 0.5);
}

.Button1{
  background-color: rgba(var(--color_r), var(--color_g), var(--color_b), 0.5);
  border: none;
  color: #000000;
  font-family: main-font;
}

.Button1:active {
  background-color: rgba(var(--color_r), var(--color_g), var(--color_b), 0.2);

}

